<div class="flash-preview preview-widget" id="preview-${preview-id}">
	<div id="flashContent-${preview-id}">
		<p>Flash player installé</p>
		<h1>Alternative content</h1>
		<p>
			<a href="http://www.adobe.com/go/getflashplayer"><img
				src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
				alt="Get Adobe Flash player" /></a>
		</p>
	</div>
	<script
		src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
	<script type="text/javascript"
		src="http://apiscol.crdp-versailles.fr/cdn/commons/scripts/apiscol-preview.js"></script>
	<script type="text/javascript"
		src="http://apiscol.crdp-versailles.fr/cdn/flash/scripts/preview.js"></script>
	<script type="text/javascript">
		var swfName = "${swf-name}";
		var previewElementId = "flashContent-${preview-id}";
	</script>
</div>

